body{
  margin: 0%;
  padding: 0%;
}

/* Navigation Bar*/


.topnav{
  margin: 0%;
  width: 100%;
  overflow: hidden;
  background-color:#e6e6e6;
  
}
img{
  margin: 0%;
  padding: 0px 20px 0px 10px;
}

.topnav a{
  display: inline-block;
  padding: 26px 40px 31px 40px;
  color: #333;
  font-size: 20px;
}
.topnav i{
  padding: 26px 40px 31px 40px;
  color: #333;
  font-size: 20px;
  float: right;
  font-style: normal;
}
.topnav img:hover{
  background-color: #cccccc;
}
.topnav a:hover{
  
  background-color: #404040;
  color: white;
}
.topnav i:hover{
  /*border-radius: 55%;*/
  background-color: #404040;
  color: #55AA55;

}
/* {
  box-sizing: border-box;
}*/
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
  background-color: #717171;
}
.slideshow-container img {
  padding-left: 300px;
  vertical-align: middle;
  height: 570px;
  width: 1100px;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  /*position: relative;*/
  
  margin: 0px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.content{
  margin: 10px 10px;
  padding: 10px 10px;
}

.content h3{
  padding-top: 10px;
  font-family: 'Bebas Neue';
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color:#003300;
}
.para{
  margin: 10px 60px 10px 10px;
}
.para p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #333;
}
button:hover{
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contact{
  background-color: #333;
}
.contact h3{
  color: white;
  padding:20px 30px 10px 30px;
}
.contact a{
  color: white;
  padding-left:30px;
  display: list-item;
  
}
.contact i{
  text-align: center;
  padding: 30px 0px 1px 0px;
  color: white;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
  
  @media screen and (max-width: 991px) {
    .ct-featureBox {
      padding: 20px 55px;
    }
  }
  @media screen and (max-width: 767px) {
    .main-content {
      padding-right: 80px;
      padding-left: 80px;
    }
    .ct-featureBox {
      width: 100%;
      min-height: 200px;
    }
  }
  @media screen and (max-width: 600px) {
    .main-content {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  @media screen and (max-width: 480px) {
    .main-content {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
